/* CSS styling */
body {
    background-image: url('imgs/rizalwriting.jpg'); 
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #8f8f8f;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #444;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
}

nav a:hover {
    background-color: #555;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: white;
    text-align: center;
}

h2 {
    color: #333;
}

p {
    line-height: 1.6;
    margin-bottom: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

/* Anchor links */
a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    color: #0056b3;
}

/* Container for chapters */
.container {
    margin-bottom: 20px;
}

